Package: com.local.filzaescaped
Name: FilzaApplySandboxExt
Version: 0.7.6
Architecture: iphoneos-arm64
Description: Filza sandbox escape - auto kexploit + kernel sandbox patching + root helper bypass + zip hooks + SSV write access + root chown
Maintainer: local
Author: local
Section: Tweaks
